body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1172px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* [class^=col-]{
    margin: 0 2rem;
} */

/* #region hover */

#end_prenot,
#on_light,
#start_prenot{
    transition: .5s;
    background-color: var(--ln-light);
}

#on_light:hover,
#start_prenot:hover{
    scale: 1.1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.399);
}
#end_prenot:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.399);
    scale: .9;
}

#start_prenot:hover{
    color: var(--ln-green_lime);
}

#end_prenot:hover{
    background-color: var(--ln-end_prenot);
}

#on_light:hover{
    background-color: var(--ln-on_light);
    filter: brightness(1.5);
}

/* #endregion hover */

/* #region colors */

:root{
    --ln-green_lime: #00de01;
    --ln-light: #f7f9fb;
    --ln-on_light: #f6b455;
    --ln-end_prenot: #be4140;
}

.green_lime_text{
    color: var(--ln-green_lime);
}

.green_lime_bg{
    background-color: var(--ln-green_lime);
}
/* #endregion colors */